[2019-12-11 13:44] xing-yang opened #404 "Clarify that VolumeContentSource is required for pre-populated volumes"
In https://github.com/container-storage-interface/spec/blob/master/spec.md#createvolume, we have the following:
[code]

The sentence "This field is OPTIONAL" is confusing.  It means this field is not required in CreateVolumeResponse in general, however, it is required for pre-populated volume.

Some CSI driver developers found it confusing after we introduced a check to make sure content_source is

[2019-12-11 13:44] xing-yang commented on #404
/assign @xing-yang

[2019-12-11 17:15] gnufied opened #405 "Clarify NodeExpand and ControllerExpand volume being idepotent"
We need to fix wording for these RPC calls whenever csiv2 lands.

xref - https://github.com/container-storage-interface/spec/pull/397

[2020-01-14 08:09] leakingtapan opened #408 "Pass Topology Information for DeleteVolume"
With latest CSI spec, topology information is passed into `CreateVolume` call, so that CSI driver can provision a volume by the given `TopologyRequirement`. The topology requirement could be region, zones, or racks. This enables CSI driver to provision volume in different regions. Eg. a CSI driver could provision volume is both us-west-2 and us-east-1. However, due to topology information is missi

[2020-01-15 00:32] msau42 commented on #408
Generally, the volumedelete call cannot pass in information other than ID because it may not always available in the teardown case.

The way that we implemented it in the GCP PD driver is to encode zone/region information in the volume id.

[2020-01-15 01:04] leakingtapan commented on #408
Yep. that's something could be achieved at driver side.

Could you give some example of when the topology info is not available? One case I can think of is pre-provisioned volume that doesn't have `nodeAffinity` constraint. But in that case, driver could still fall back to some default region that the driver thinks appropriate.

And where do we have such doc about encoding region in `volumeHandle`

[2020-01-15 10:18] zhucan commented on #400
@jdef @saad-ali Is it possible to add the Secret to the NodeUnpublishVolume?

[2020-01-15 16:42] jdef commented on #400
We've been down this road before. I don't see any new, compelling reason to
add secrets here. It should always be possible to unpublish/unstage
regardless of secrets. If you need a token for such operations, the plugin
should save it a priori in the stage RPC.

On Wed, Jan 15, 2020, 5:18 AM Louis Koo <notifications@github.com> wrote:

[2020-01-16 16:30] gnufied opened #409 "capacity field in NodeExpandVolumeResponse is optional even for node only expansion"
Since `capacity` field in `NodeExpandVolumeResponse` is optional, it presents a problem for CSI driver that only implement node side expansion. In that case, if a CSI driver does not report size after expansion, it is kind of hard to know exact size of the volume *after* expansion.

If expansion succeeded we do know volume is at least of requested capacity size, but we may not know the actual capa

[2020-02-01 18:18] xing-yang opened #410 "CSI changes for volume health"
Volume Health KEP is merged in Kubernetes.  We need to have CSI changes to provide volume health check leveraging existing RPCs and adding new ones.

* Add new GetVolume controller RPC
External monitoring controller calls a new GetVolume RPC to check health condition of a particular volume instead of calling ListVolumes with a volume_id filter. Some CSI drivers chose not to implement ListVolumes a

[2020-02-05 16:22] taaraora opened #413 "What is behaviour of `CreateVolumeRequest` with empty `capacity_range`?"
[code]

Based on description, I suppose that Plugin MAY NOT choose an implementation-defined capacity, and in such case while handling `CreateVolumeRequest` having empty `capacity_range` Plugin MUST fail.
If my understanding is correct shall we update `CreateVolume Errors` table?

[2020-02-05 18:08] jieyu commented on #413
If the capacity range is not specified by the CO, the SP should just use some default.

I don't quite get this ^

[2020-02-05 18:15] msau42 commented on #413
I agree with Dmytro that the spec is vague about the behavior a plugin should do when capacity is unspecified. It says it MAY choose a default, not MUST. So technically, returning an error is also a valid response according to the spec wording.

[2020-02-05 18:16] msau42 commented on #413
cc @jsafrane

[2020-02-05 18:17] taaraora commented on #413
Plugin MAY choose a default means that in is not obligatory and it also may not use defaults (e. g. if a plugin is configured without default volume size being set).

[2020-02-10 04:12] bells17 commented on #370
Should this issue change to the close status?
https://github.com/container-storage-interface/spec/pull/372 was already merged.

[2020-02-10 04:23] bells17 opened #414 "Secrets field in NodeGetInfoRequest"
Now, CSI specification defines a secrets field in some gRPC requests.

However, NodeGetInfoRequest does not have this field, meanwhile getting node information might require some credentials with reading access to work properly.

I think we need an optional secrets field in NodeGetInfoRequest.

---

In my case, I creating a CSI Driver for cloudstack.
If the cloudstack has a data server, it can use

[2020-02-10 14:16] xing-yang commented on #370
Yes, this issue should be closed now.

[2020-02-10 17:44] #370 closed

[2020-02-10 19:26] julian-hj commented on #414
@bells17 normally, for this type of use case, we assume that the CSI plugin will receive secrets at startup time from whatever process or container is used to run the plugin.  Secrets that appear in the RPC are intended for cases where consumers of the storage have heterogeneous access, and the plugin should get different secrets from different users.

In the case of NodeGetInfo, it is hard to ima

[2020-02-11 05:04] bells17 commented on #414
@julian-hj Thank you for explaining about the use case.

Yes, I want to use the same credentials in NodeGetInfo.

But in cloudstack, API KEY is associated with the user.
And, I can't set detailed permissions with cloudstack.
(So the API KEY can be used to other than get the node information)

And the case of using Kubernetes for CO, the CSI Driver run to all node.
In that situation, the credential

[2020-02-11 16:19] jdef commented on #413
I think it's valid for a plugin to respond with an error if no capacity is specified and the plugin is unable to reason about the capacity that it should use. It's also perfectly acceptable for a plugin to not require a capacity and successfully create a volume.

We could clarify this by expanding the corresponding error table w/ an explanation that the plugin may return an error for such cases. G

[2020-02-11 16:25] #396 closed

[2020-02-11 17:09] saad-ali commented on #413
Discussed at community meeting on 2/11/20
See [notes](https://docs.google.com/document/d/1-oiNg5V_GtS_JBAEViVBhZ3BYVFlbSz70hreyaD7c5Y/edit#heading=h.a9mdkgymsw3f)

[2020-02-11 19:40] julian-hj commented on #414
But in the case of Kubernetes, and I suspect every other CO also, NodeGetInfo is called during plugin registration, so there is no end-user with credentials to provide.

https://github.com/kubernetes/kubernetes/blob/dde6e8e7465468c32642659cb708a5cc922add64/pkg/volume/csi/csi_plugin.go#L134

What did you have in mind for providing the necessary secrets to the kubelet so that it knows what to pass t

[2020-02-12 02:49] bells17 commented on #414
Um...Sorry. I didn't think how to provide the necessary secrets to the kubelet.

[2020-02-12 18:04] julian-hj commented on #414
I'd suggest that if you aren't comfortable with mounting secrets into the container for your CSI plugin, maybe you could add an [init container](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/) that consumes the secret, and uses it to look up the node info.  That way the container will be very short lived, and a malicious SSH user won't be able to find the secret.  Your CSI nod

[2020-02-13 00:26] saad-ali opened #416 "NodeStageVolume is missing readonly field"
@cduchesne rightfully pointed out that the `NodeStageVolumeRequest` is missing the `bool readonly` field which `ControllerPublishVolumeRequest` and `NodePublishVolumeRequest` both have. So a driver doesn't know when a global mount should be mounted readonly. Effectivley this is not a huge issue since the final `NodePublishVolumeRequest` mount does have this information. But ideally we should ensur

[2020-02-13 00:56] bells17 commented on #414
I see. Thank you!

[2020-02-13 00:56] #414 closed

[2020-02-20 07:27] zhucan commented on #395
Is there a better way to solve this problem？ When deleting the pod that we should login the backend stroage to do more things, But we only achieve "NodeUnpublth ishVolume" function, there is no more params  with it. @saad-ali  @venkatsc @Madhu-1

[2020-02-24 02:40] jdef commented on #350
A quick Google search suggests that 4k is the length limit for common Linux filesystems. I guess Windows systems used to have a 255? 260? limit, but apparently that's overridable in Windows 10 - but I don't see what the new max length is in W10.

Suggest 4k as the limit for paths now.

[2020-03-05 18:39] #355 closed

[2020-03-12 05:30] xuxihao opened #418 "If the mount fails, what else can I do besides rebuilding the pod to re-mount"
Assume that a `custom-pod` mounts the PVC by CSI-plug-in, the CSI-plug-in-sidecar may fail due to some reason and the mount in  `custom-pod`  fails even after the CSI-plug-in is restarted. What else can I do besides rebuilding the `custom-pod`(costly in production) to re-mount?

[2020-03-24 15:57] pohly opened #419 "RESOURCE_EXHAUSTED ambiguous"
Reusing existing gRPC status codes leads to ambiguities for the CO. `RESOURCE_EXHAUSTED` can be returned by the gRPC transport layer, for example when message sizes are exceeded.

Therefore a CO which gets that error cannot be sure whether it was the driver which returned that status. For example, a `CreateVolume` call is specified as returning `RESOURCE_EXHAUSTED` when space is exhausted in a cer

[2020-03-24 16:33] jdef commented on #419
is this the only error code that is ambiguous? probably not. if
"overlapping" error codes is a concern, then there's probably a bigger
design decision to make re: error codes. we punted on this before, but
maybe it's time to resurface?

On Tue, Mar 24, 2020 at 11:58 AM Patrick Ohly <notifications@github.com>
wrote:

--
James DeFelice
585.241.9488 (voice)
650.649.6071 (fax)

[2020-03-24 17:19] pohly commented on #419
We noticed this for `RESOURCE_EXHAUSTED` and a solution just for that would be already a step forward.

But I agree, this looks like a more fundamental design issue. On the other hand, I haven't checked whether other gRPC codes have the same problem.

[2020-03-25 17:15] mpron opened #420 "Add Nomad to Container Orchestrators list?"
Nomad 0.11, now in beta, just added support for the CSI spec I believe.  So it might be worth adding them to the list of supporting tools.

[2020-03-25 17:16] jieyu commented on #420
@mpron can you open a PR against the README.md
https://github.com/container-storage-interface/spec#container-orchestrators-co

[2020-04-03 16:22] gnufied opened #423 "Loosen up wording for OFFLINE expansion"
Sometimes a CO may not accurately be able to verify if volume is already published to a node or not when calling `ControllerExpandVolume` RPC call and in that case an `ControllerExpandVolume` call might be issued to the driver even though driver only supports offline expansion and underlying is in-use.

Currently there is a explicit error condition to report when this happens:

[code]

However the

[2020-04-09 16:20] kayrus opened #425 "Add GetAccessibilityRequirements to NodePublishVolumeRequest"
NodePublishVolumeRequest is used in k8s ephemeral volumes. Unfortunately it doesn't work, when you need to create an ephemeral volume in particular availability zone.

see https://github.com/kubernetes/cloud-provider-openstack/issues/1018 for a reference.

[2020-04-09 18:37] kayrus commented on #425
Found a solution for this problem.

[2020-04-09 18:37] #425 closed

[2020-04-15 02:26] #410 closed

[2020-04-16 12:39] timoreimann opened #426 "ListSnapshots should be more clear about usage/semantics of the snapshot_id parameter"
The spec says the following about the `snapshot_id` parameter to the `ListSnapshots` RPC:

[code]

([source](https://github.com/container-storage-interface/spec/blob/e129a75169c13bade7c7336afe21f259740ba679/spec.md#listsnapshots))

To me, this reads like that CSI drivers may opt to not support filtering by snapshot ID while still assuming that everything should work just fine. Looking at [the csi-

[2020-04-16 12:45] timoreimann commented on #426
At the risk of being too pedantic, it seems like the spec would allow setting both `starting_token` and `snapshot_id`, possibly leading to the situation where a target snapshot exists but won't be returned because it's before the start of given pagination token.

I'd think that if `snapshot_id` is given, the pagination-related fields should be ignored. Maybe that's something else which could be cl

[2020-04-16 18:17] jdef commented on #426
Yes, snapshot ID is OPTIONAL. If a particular *plugin* implementation assumes otherwise, then it sounds like a bug in the plugin. The next part of your question pertains to "csi-snapshotter" which is outside the purview of this specification.

The spec says that `snapshot_id` is for listing a single snapshot, not paging through snapshots. I think that's clear. What's unclear is how a plugin SHOULD

[2020-04-16 19:58] timoreimann commented on #426
@jdef thanks for the prompt response.

My misunderstanding was pretty much the other way around: I assumed that it was optional for the plugin to process the snapshot ID, and that nothing would break if the plugin would always return all snapshots (i.e., it did no filtering). From what I understand now, the parameter is optional to pass in for the CO but once it's specified, the plugin must handle

[2020-05-13 05:37] KallynGowdy opened #430 "Spec seems to contradict itself with respect to requiring Unix Domain Sockets"
In the ["Connectivity" section of the Protocol](https://github.com/container-storage-interface/spec/blob/master/spec.md#connectivity) the spec states:

This appears to be a contradictory statement since [RCF2119](https://tools.ietf.org/html/rfc2119) says this about the term "MAY":

   truly optional.  One vendor may choose to include the item because a
   particular marketplace requires it or beca

[2020-05-18 08:44] pohly opened #432 "GetCapacityResponse: distinguish between maximum volume size and total available capacity"
The current wording for the `capacity` field is:

This is vague because it does not explain what the capacity is supposed to be available *for*: is it for creating one volume, or multiple different volumes?

This becomes relevant for drivers that manage storage which can be fragmented. Once the underlying storage is fragmented, it might be possible to create one volume of size 100GiB and another v

[2020-05-18 09:19] pohly commented on #432
Note that this is orthogonal to adding "total capacity" (issue #301). This issue here is focused on just reporting free capacity.

[2020-05-20 10:34] timoreimann opened #433 "Allow plugin to return OK if NodeUnpublishVolume cannot find a volume"
In #375, the spec was changed to allow plugins to return OK during `ControllerPublishVolume` if a volume is not found, thereby solving #373. A similar situation can arise for `NodeUnpublishVolume` when, say, a previously mounted volume has already been unmounted out-of-band, and the plugin decides that there simply is no more work to do. For such cases, it should not be okay to return OK from `Nod

[2020-05-22 03:01] gnufied opened #434 "Floating grpc dependencies and build failures"
The build here is failing - https://travis-ci.org/github/container-storage-interface/spec/jobs/689878382 with following error:

[code]

And it is not that this PR - https://github.com/container-storage-interface/spec/pull/431 has a problem. It is because we are pinning version of protobuf library - https://github.com/golang/protobuf but we are not pinning version of https://github.com/grpc/grpc-go

[2020-05-22 03:02] gnufied commented on #434
cc @jdef @saad-ali

[2020-05-22 18:56] gnufied commented on #434
I have attempted to fix this using go modules - https://github.com/container-storage-interface/spec/pull/435

[2020-05-31 19:26] #434 closed

[2020-07-20 10:28] kameshkancherla opened #441 "CSI can talk to how many controllers"
Guys,

We recently build CSI for auto provisioning from one of the storage boxes.

problem it is able to communicate to only 1 controller, it is not able to communicate more than one controller. Is there any solution for this os is it designed like that.

I have 2 storage boxes in 2 different locations, If I need any server to communicate to both the storage boxes, its not happening.

Regards
Vith

[2020-07-29 16:30] david-enli opened #442 "Attachment reconciling capability can only be enabled for In-Tree CSI drivers?"
Hello, I apologize it this isn't the right place. After enabling `csi.ControllerServiceCapability_RPC_LIST_VOLUMES_PUBLISHED_NODES` and including the `PublishedNodeIDs ` field in the ListVolumes response. We started to see the following log message from the csi-attacher sidecar. And I found the following function called as part of the reconciling code from the sidecar:
[code]
is reconciling not su

[2020-07-29 16:57] gnufied commented on #442
Please open this against `kubernetes-csi/external-attacher`. Issues like these don't belong to spec.

[2020-07-29 17:10] david-enli commented on #442
will do, sorry about that, thanks

[2020-07-29 17:10] #442 closed

[2020-08-17 16:28] michael-db opened #443 "Clarify semantics of VolumeCapability"
A request with AccessMode UNKNOWN should (presumably - the purpose of this mode is unstated) always be rejected by the SP and it should never send a response with that AccessMode.
Of the five others, Kubernetes uses only three (RWO, ROX, RWX) and "A volume can only be mounted using one access mode at a time, even if it supports many", so it seems that a CSI driver that supports Kubernetes only can

[2020-08-18 07:05] pohly opened #444 "GetCapacityRequest: do VolumeCapabilities affect the result?"
Kubernetes 1.19 will be the first release which actually does something with the CSI GetCapacity call: https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1472-storage-capacity-tracking

Because the Kubernetes scheduler cannot communicate directly with the CSI driver, we are caching capacity information. Doing that for all combinations of the GetCapacity parameters is not pract

[2020-08-18 16:14] jieyu commented on #444
@pohly yes, we do use that for some cases like: some storage driver does not support certain filesystems, and we want to report a capacity of 0 from the driver if the `VolumCapabilities` is set to that filesystem.
https://github.com/mesosphere/csilvm/blob/master/pkg/csilvm/server.go#L907-L919

The reason for having `VolumeCapabilites` in `GetCapacity` is because `GetCapacity` and `CreateVolume` ar

[2020-08-20 07:24] Sh4d1 opened #445 "Secrets in NodeExpandVolume"
Hello!

It would be nice to have secrets available in the NodeExpandVolume.

Usecase : encrypted device with LUKS, which needs the passphrase in order to resize the device on the node.

[2020-08-20 07:49] humblec commented on #445
Indeed , this is a requirement for other use case too. For example, if we need to connect to backend cluster for some validation we need the secret.

One of the use case came up Ceph side is that, at times we need to check the actual size of the image before proceeding on FS resize to avoid false positive returns on fs resize operation. For that we have to connect to the backend cluster which need

[2020-08-20 07:52] Sh4d1 commented on #445
Not sure what the policy is, but I'll gladly open a PR adding secrets to this method 😄

[2020-08-20 07:58] humblec commented on #445
Let me invite some key members for their thought from Kube storage side.
 @saad-ali @jsafrane @msau42 @gnufied @xing-yang can you share your thoughts ?

[2020-08-20 14:28] pohly commented on #444
I understand that the two are related in theory. Which parameters matter in practice is what I am trying to find out.

What about `VolumeCapability.access_mode`? That also is a required field in `GetCapacityRequest`.

Regarding block vs. filesystem and what the filesystem type is: I agree, this may be useful. The problem just is that in Kubernetes, the choice between block and filesystem is made i

[2020-08-21 05:28] humblec opened #446 "Request for adding secrets to Controller and Node GetVolume() request"
Currently we dont have secrets in these requests. However a SP may need secrets for fetching the volume condition from the backend cluster.  As an example of Ceph we have to connect to the backend cluster and fetch the real state of the volume from it. The connection requires secret/credentials , this is one of the use case I could think of for the necessity of having this in the request. Can you

[2020-08-21 05:29] humblec commented on #446
@saad-ali @msau42 @jsafrane @xing-yang can you please share your thoughts?

[2020-08-26 17:15] jieyu commented on #444
@pohly

Mesos currently uses `GetCapacity` to determine the capacity for each user specified storage profile (a combination of parameters and volume capabilities), and the scheduler uses that information to make scheduling decisions (e.g., do not schedule a task that requires 500G lvm raid1 disk on a node that only has 300G raid1 capacity).

We also had the "enumeration" problem you mentioned abov

[2020-09-06 01:36] timoreimann commented on #433
Would love to hear what folks think of this proposal. Thanks in advance.

[2020-09-11 09:52] tushar1701 opened #447 "Creation of Snapshot with existing snapshot name and same source volume ID"
Hi ,

I want to know the expected behavior for the below scenario:-

**Scenario:-**
Creation of Snapshot with existing snapshot name and same source volume ID. Lets suppose I take a snapshot A from volume B at time T1. Thereafter I perform some I/O operations  and now after some time at time T2 if user tries to take snapshot again with same snapshot name and same source volume ID then will user ge

[2020-09-11 10:08] tushar1701 opened #448 "validate snapshot name"
During csi-sanity checks , got the following failure:-

`[Fail] CreateSnapshot [Controller Server] [It] should succeed when creating snapshot with maximum-length name`

Is it documented somewhere about the maximum length value? How can we incorporate this on our CSI driver?

[2020-09-17 20:06] saad-ali commented on #448
It's documented under https://github.com/container-storage-interface/spec/blob/master/spec.md#size-limits

That said the 128 byte limit is fairly arbitrary and should be relaxed for fields where it is causing issues, like https://github.com/container-storage-interface/spec/issues/350

[2020-09-18 16:00] gnufied opened #449 "Supporting gid as mount option"
This keeps coming  back and so far CSI has stayed away from how volume permissions are applied to CSI volume and leaving this to CO.

But in Kubernetes - we have found a use case which calls for some clarification and possibly a spec change in CSI.

The problem is - certain CSI drivers apply gid as a mount option during NodeStage or NodePublish and CO needs to pass gid of pod/workload to the CSI d

[2020-09-19 02:33] jdef commented on #449
Can you list one or two driver examples and maybe some pseudo config that
further explains how the status quo doesn't meet the need?

On Fri, Sep 18, 2020, 12:01 PM Hemant Kumar <notifications@github.com>
wrote:

[2020-09-19 18:21] tushar1701 opened #450 "CSI compatibility with Openshift container platform"
I need clarification and want to know about the compatibility of openshift container platform with Container storage interface. If there is any documentation stating its usage vs Kubernetes then do share that would of great help.

[2020-09-19 18:23] tushar1701 opened #451 "Process to upload CSI driver to community"
Hi
I need to know the process to upload out CSI driver to the community site. I want to understand the checks that we need to perform that make us compliant so that we can upload driver to community.

[2020-09-19 18:25] tushar1701 commented on #450
@saad-ali @xing-yang @jsafrane your thoughts on this please.

[2020-09-21 14:04] xing-yang commented on #450
My understanding is that OpenShift is a distro of Kubernetes. So if an OpenShift version supports a particular Kubernetes version, then it should also support the CSI spec versions supported by that Kubernetes version.

@jsafrane or @gnufied would know the answer to this question.

[2020-09-21 14:07] gnufied commented on #450
Yes Openshift fully supports since OCP-4.2. Also not sure if this question belongs here, such questions should be opened as openshift bug or in https://github.com/openshift/origin/

[2020-09-21 14:53] tushar1701 commented on #450
Thanks @xing-yang  @gnufied .

[2020-09-21 14:53] #450 closed

[2020-09-23 16:36] tushar1701 commented on #451
@xing-yang Could you please help me with this. Thanks

[2020-09-24 15:51] gnufied commented on #449
The driver example will be something like - azurefile which requires mount option to be specified via - `mount -o gid=<>`. Some other drivers that support mount time uid/gid options is - sshfs (https://wiki.archlinux.org/index.php/SSHFS), which accepts mount option as `mount -o idmap` . there could be other fuse based drivers capable of doing this mapping.

The reason status-quo does not meet the

[2020-10-01 21:58] YiannisGkoufas opened #454 "Nodeserver Event on PVC Deletion"
Hi everyone,

was to trying to understand whether there is an event triggered on the nodeserver on PVC deletion.
When the pod using the PVC is removed as far as I know the `NodeUnpublishVolume` and `NodeUnstageVolume` events are triggered.
Was wondering if there is an event (or some other way) for the Nodeserver to be notified for a PVC deletion.
Imagine the case where you want to clean up some lo

[2020-10-05 07:37] pohly opened #455 "adding methods with backwards-compatible Go bindings"
Adding new methods to the gRPC interfaces is backwards-compatible at the gRPC level and thus the major version of the CSI spec repo is not incremented. However, the way how the Go bindings were generated broke compatibility with existing CSI drivers because they had to implement at least stubs for the new methods.

https://github.com/grpc/grpc-go/releases/tag/cmd/protoc-gen-go-grpc/v1.0.0 describe

[2020-10-05 07:38] pohly opened #456 "adding methods with backward-compatible Go bindings"
Adding new methods to the gRPC interfaces is backwards-compatible at the gRPC level and thus the major version of the CSI spec repo is not incremented. However, the way how the Go bindings were generated broke compatibility with existing CSI drivers because they had to implement at least stubs for the new methods.

https://github.com/grpc/grpc-go/releases/tag/cmd/protoc-gen-go-grpc/v1.0.0 describe

[2020-10-05 07:39] pohly commented on #456
Note that I have not investigate whether it is possible to add methods selectively to `Unimplemented<Service>Server`. It might that the `require_unimplemented_servers=false` is an all-or-nothing switch.

[2020-10-05 07:45] humblec commented on #456
@pohly how this issue is different from #455 ? couldnt figure out the difference  :)

[2020-10-05 08:13] pohly commented on #456
It's the same. I got an error when submitting it the first time, but apparently it was created after all.

[2020-10-05 08:13] #456 closed

[2020-10-05 08:13] pohly commented on #455
Note that I have not investigate whether it is possible to add methods selectively to `Unimplemented<Service>Server`. It might that the `require_unimplemented_servers=false` is an all-or-nothing switch.

[2020-10-07 07:01] humblec commented on #445
@gnufied @jsafrane @xing-yang @msau42 @saad-ali  this is one of the blocker to support LUKS encryption expansion for CSI drivers. We indeed need secrets/credentials in the NodeExpand request. Can we share your thoughts ?

@Sh4d1 would you like to open a PR for this?

[2020-10-07 07:31] Sh4d1 commented on #445
@humblec yep :smile:

[2020-10-07 07:32] humblec commented on #445
Thanks @Sh4d1 ! Let me pull others to the PR :+1:

[2020-10-07 20:09] tgross opened #458 "ValidateVolumeCapabilities missing capabilities behavior"
The [`ValidateVolumeCapabilities`](https://github.com/container-storage-interface/spec/blob/master/spec.md#validatevolumecapabilities) specification says the following:

The Nomad team has had a report of a plugin (Cinder) that does not return the full struct for the that it supports (in this case, the [`access_type`](https://github.com/kubernetes/cloud-provider-openstack/blob/v1.19.0/pkg/csi/cind

[2020-10-14 17:07] saad-ali commented on #449
<details>
  <summary>Meeting Notes from CSI Meeting Oct-14-2020</summary>
@bswartz - Windows has a concept of ACLs on files.
@jsafrane - Mounting windows share in to linux -- but at mount time you must choose mapping from Windows to Linux. We need volume to appear as if all files have GID. How to pass this info from CO to SP. If you can please mount all files with GID. Some capabilities around thi

[2020-10-22 15:37] YiannisGkoufas opened #459 "Debug why some /csi.v1.Node methods are not called"
Hi! I was working on our CSI S3 implementation ( https://github.com/IBM/dataset-lifecycle-framework/tree/master/src/csi-s3 ) and have successfully tested it multiple environments of k8s 1.16+ without a problem.
However, in a recent deployment I have been getting some issues about the attacher not being called.

Specifically, in a working setting I was seeing logs like this:
[code]

In the non-work

[2020-10-22 15:38] gnufied commented on #459
Please open this in kubernetes/kubernetes repo

[2020-10-22 15:44] YiannisGkoufas commented on #459
Sure!

[2020-10-26 11:59] ruanchen opened #460 "CSI and LocalPV"
Hello，just want to know, it's there any relation about csi and LocalPV in the future version?

[2020-11-04 17:02] lucianoq opened #461 "Secrets in ListVolumes request"
It would be nice to have secrets available in the ListVolumes request.
In our use case, we need to know which volumes the user is allowed to see and which not.

I can attach a PR.

[2020-11-09 12:34] ArbelNathan opened #463 "RESOURCE_EXHAUSTED in ControllerExpandVolume"
there is no defined message for scenario of "no space on storage" in `ControllerExpandVolume`.
in `CreateVolume` and `CreateSnapshot` there is the RESOURCE_EXHAUSTED field.
can it be returned also in `ControllerExpandVolume`?

[2020-12-04 21:41] bswartz opened #465 "2.0 Tracking Issue"
This issue is to collect ideas for an eventual 2.0 release of the CSI spec. This issue in no way suggests we plan to address any of these ideas, or that a 2.0 release will ever happen. Rather, the intention is to collect ideas that would be very difficult to implement in a 1.x release because they can't be made backward compatible, such that if we ever did do a 2.0 release, we would want to implem

[2020-12-04 22:00] bswartz commented on #465
The SINGLE_NODE / MULTI_NODE distinction in the access modes is and how they are handled in NodePublishVolume()
completely contrary to what Kubernetes actually wants. The documentation for SINGLE_NODE / MULTI_NODE matches what would be useful semantics for Kubernetes, but the documentation for NodePublishVolume() then says the opposite thing (basically saying that supporting more than one pod requ

[2020-12-04 22:05] bswartz commented on #465
There is some reworking we would want to do around resize if we had a 2.0 version. In particular, cloning volumes from snapshots or other volumes and making them larger at the same time should have been tied to the resize functionality so that COs could leverage existing filesystem-resize workflows rather than forcing the SPs to have 2 different ways to expand filesystems (one for explicit expand

[2020-12-14 14:55] bswartz opened #466 "Proposal: Allow SP to generate secrets at CreateVolume and ControllerPublish time"
In the CSI spec today, all secrets are stored on the CO side, and sent to the SP side at appropriate times. This covers use cases where the secrets are administrator-created (such as login credentials for the storage device) or user-generated (such as per-volume encryption keys) but there's a third class of use cases where the secret it meant to be used by the node to securely connect to the stora

[2020-12-14 16:59] jdef commented on #466
As stated in the writeup of this ticket, there's already a mitigation for this case: the plugin encrypts data before passing it back in the volume context, and the CO plays back the same, per-volume context in future calls. To expand upon that case, plugins could, instead, pass back a verifiable, signed token (e.g. JWT, keytab, x509 cert, or something similar that is, perhaps, not time-limited) in

[2020-12-14 17:49] bswartz commented on #466
I'm sympathetic to the idea that COs should not be treated like a general purpose data store, and that storing secrets is a uniquely complex responsibility. The problem is that somebody has to do this work, and pushing the responsibility away from the CO doesn't make it go away.

SPs currently rely somewhat heavily on the volume context / publish context mechanism of controller/node communication,

[2020-12-14 18:24] jdef commented on #466
This is an interesting point. There was another, related discussion about CSI introducing a general purpose communication-hub/bus API, and we very intentionally decided that was out of scope: plugins that need anything other than simple cookies are on their own to implement (or leverage, via some other infra component) a more complicated communication channel. This mostly seems to resurface every

[2020-12-14 18:46] bswartz commented on #466
The way we've handled CO "capabilities" in the past is by adding new optional arguments to RPC calls. Callers that support the new capability assert so by setting the argument to the non-default value. This is a signal to SPs that they can leverage additional return values. The spec would have to make clear this requirement -- that the return value is ignored unless an input parameter has a partic

[2020-12-15 08:26] GodGirlwsy opened #467 "csi plugin container mount lustre failed"
Operation for "\"kubernetes.io/csi/lustreplugin.csi.h3c.com^lustre-csi-pv\"" failed. No retries permitted until 2020-12-15 14:37:00.574828082 +0800 CST m=+2383.010640361 (durationBeforeRetry 16s). Error: "MountVolume.SetUp failed for volume \"lustre-csi-pv\" (UniqueName: \"kubernetes.io/csi/lustreplugin.csi.h3c.com^lustre-csi-pv\") pod \"deployment-lustre-5ffb8566b7-vqk5k\" (UID: \"dc3e451a-3e9f-1

[2020-12-15 19:52] jdef commented on #467
This repo is for the CSI specification; if you want help w/ this issue, please contact Kubernetes SIG Storage which maintains the Kubernetes CSI implementation.

[2020-12-16 09:24] pohly commented on #467
Or better, contact the authors of that CSI driver.

[2021-01-08 15:59] nixpanic commented on #371
There is an additional use-case for this, where having the secrets to connect to the storage backend is useful.

With Ceph-CSI we can create RBD images for `volumeMode: Block`. The block-device gets attached to the node, which makes it possible to check the size of the block-device. So far, so good.

However, RBD images are by default thin-provisioned, so not all space has been allocated on the Ce

[2021-01-08 16:17] gnufied commented on #371
I am sort of becoming convinced that we may have to add secrets here. The other case I think is, this call is also being used to report volume health and hence it may be useful in many cases to have secret present so as volume health can be queried accurately.

Having said that - we have to also figure out how to carry this information to node side in kubelet. We started with just few secret field

[2021-01-21 14:29] tomereli commented on #461
@lucianoq how do you handle `ListVolumes` in the meanwhile? We are in the same boat, and the only solution we came up with is passing the secret via a volumeMount to the plugin container.

[2021-01-21 14:35] lucianoq commented on #461
No solutions from this side. We decided to postpone the implementation of the `ListVolumes` capability.
So we are actually blocked by this.

[2021-01-25 16:43] paullaffitte opened #469 "Unclear documentation about how to implement volume expansion"
It looks like the documentation about volume extension is somehow unclear.

I'm using iSCSI to attach storage devices on my nodes.

[spec.md#controllerexpandvolume](https://github.com/container-storage-interface/spec/blob/master/spec.md#controllerexpandvolume) says:

I can then resize the device from my appliance, but if I unpublish the volume, then the device is not accessible and thus I cannot r

[2021-02-04 01:11] Jiawei0227 commented on #350
The change for length limitation has been merged with the new CSI spec. Please check with rexray/gocsi maintainer to see if they need to make any change on their side. I will close the issue for now. Thanks!

/close

[2021-02-13 17:40] jdef commented on #461
I'm not 100% clear on the use case for this. There are secrets for use w/ calls pertaining to singular volumes/snapshots. This looks like it might be the first place where secrets would be added for a "multi volume" call, and the motivation is not clear to me. If the plugin requires credentials to access a backend API then those credentials should be provided to the plugin executable via env or CL

[2021-02-13 17:50] jdef commented on #461
Upon further review, it appears the the ListSnapshotsRequest RPC had secrets added recently. Im still not 100% clear on why this was needed vs. passing the credentials to the plugin executable at startup time. It sounds like @saad-ali spent some time thinking on this, and that it was related to different storage pools having different credentials. It's unclear to me how the CO decides which secret

[2021-02-14 14:37] lucianoq commented on #461
There are secrets on single volume requests, in order to check if the requester has the right to perform an action on the single volume (view/attach/mount/delete/...)
For the same reason, they have to be on multi-volume requests.
On `ListVolumes`, the plugin can decide to show only a subset of them, related to which secrets the request contains.
Some credentials can have a limited view permissions

[2021-03-03 03:33] gnufied opened #471 "Build is broken with go 1.16"
We don't have to fix this right away but it looks like builds might be broken in 1.16 because of go module changes.

(cd /home/hekumar/goal/src/github.com/golang/protobuf/ && go get -v -d $(go list -f '{{ .ImportPath }}' ./...)) && \
go build -o "protoc-gen-go" github.com/golang/protobuf/protoc-gen-go
no required module provides package github.com/golang/protobuf/protoc-gen-go: working directory i

[2021-03-03 03:35] gnufied commented on #471
it works by explicitly disabling go modules though:

[code]

[2021-03-03 22:15] saad-ali commented on #461
I think you are referring to this comment https://github.com/container-storage-interface/spec/issues/370#issuecomment-517850572

That is why `secrets` was added to `ListSnapshotsRequest`.

By the same logic I would be fine with adding it to ListVolumes request.

[2021-03-04 00:05] jdef commented on #471
Thanks for reporting this

On Tue, Mar 2, 2021, 10:36 PM Hemant Kumar <notifications@github.com> wrote:

[2021-03-04 21:52] #432 closed

[2021-03-11 10:42] michael-db opened #473 "ControllerUnpublishVolume from all nodes - confusing spec"
According to the CSI specification, a ControllerUnpublishVolume() with an empty string for the node_id field must unpublish the volume from all nodes.

This is exceptional: there is no corresponding global "node unstage" or "node unpublish" operation. All of the rest of the text in the CSI spec. assumes that ControllerUnpublishVolume() is called for a specific node.

The specification is rather co

[2021-03-16 16:24] #445 closed

[2021-03-25 14:30] JeeShao opened #474 "Why is there no dependency management like gomod in this repo?"
Why is there no dependency management like gomod in this repo?

[2021-03-25 16:59] jdef commented on #474
Is this blocking you?

On Thu, Mar 25, 2021, 10:31 AM JeeShao ***@***.***> wrote:

[2021-03-29 07:16] JeeShao commented on #474
If open-source software is imported in the code but the version is not specified with go.mod, like github.com/golang/protobuf, the open-source software uses the latest version by default. Does the version always change with the latest version?

[2021-03-29 10:09] jdef commented on #474
It's a bit primitive, and not idiomatic, but some versions *are* pinned
here:
https://github.com/container-storage-interface/spec/blob/master/lib/go/Makefile

On Mon, Mar 29, 2021 at 3:16 AM JeeShao ***@***.***> wrote:

--
James DeFelice
585.241.9488 (voice)
650.649.6071 (fax)

[2021-04-28 20:50] mkimuram commented on #449
@gnufied

Is "idmapped mounts" feature merged to Linux kernel 5.12 related to this?
It looks that it gives us a way to map uids and gids on mount time for any filesystems on Linux.
(I first thought that the feature will be utilized by container runtime on mapping local filesystem to container, but we would be able to do it on node stage/publish as discussed here.)

[2021-05-03 08:59] ArbelNathan opened #478 "Add volume_context to ControllerExpandVolumeRequest"
please consider adding `volume_context` to `ControllerExpandVolumeRequest`, it will help us with Topology support. right now we don't know the storage system of the volume in the `ControllerExpandVolume` call because our secret contains JSON with all the supported storage systems, only `volume_context` or `topologies` can tell us where the volume is stored.

[2021-05-03 11:34] jdef commented on #478
This sounds completely reasonable. Mind submitting a PR?

On Mon, May 3, 2021, 4:59 AM Arbel Nathan ***@***.***> wrote:

[2021-05-03 12:43] ArbelNathan commented on #478
sure, if we are on it, could we add `volume_context` to `ControllerUnpublishVolumeRequest`?

[2021-05-03 13:49] jdef commented on #478
No. Unpublish needs to be able to execute in the case that the CO forgets
context.

On Mon, May 3, 2021, 8:43 AM Arbel Nathan ***@***.***> wrote:

[2021-05-04 07:42] ArbelNathan commented on #478
ok, tnx

[2021-05-10 22:09] chrishenzie opened #481 "Go 1.10.4 build fails with undef imports in http2 pkg"
Recent Travis CI builds for Go 1.10.4 fail with the following errors:
[code]

See [here](https://travis-ci.org/github/container-storage-interface/spec/jobs/770586117) and [here](https://travis-ci.org/github/container-storage-interface/spec/jobs/770584359) for sample failures.

[2021-05-12 16:48] gnufied commented on #481
It should be fixed by https://github.com/container-storage-interface/spec/pull/435 when it merges.

[2021-05-12 18:52] chrishenzie commented on #481
Fixed, thank you!

[2021-05-12 18:52] #481 closed

[2021-05-26 10:23] jsafrane opened #482 "Problems mounting XFS volume clones / restored snapshots"
XFS does not allow to mount two volumes that have the same UUID on the same machine.  The second mount fails with:

[code]

This is problematic when using a cloned volume or a restored snapshot - the original volume and the new volume cannot be mounted on the same compute node.

On what level should be the issue solved?

* CSI spec could mention that it's CSI plugin problem to make sure cloned / r

[2021-05-26 10:26] jdef commented on #482
This sounds like a plug-in issue, not a CO issue.

On Wed, May 26, 2021, 6:24 AM Jan Šafránek ***@***.***> wrote:

[2021-05-26 16:55] saad-ali commented on #482
Agreed with @jdef. We discussed this at the community meeting today, see [Notes](https://docs.google.com/document/d/1-oiNg5V_GtS_JBAEViVBhZ3BYVFlbSz70hreyaD7c5Y/edit#heading=h.8nsip3sdi6nk)

Conclusion:
* For this bug:
  1) Pick a random CSI driver to fix this issue in the driver
  2) Write an E2E test to catch this issues
  3) Make the E2E test opt-in and send messages to CSI announce to encourag

[2021-05-27 04:35] humblec commented on #482
Ceph CSI was hit on this issue at clone time , https://github.com/ceph/ceph-csi/issues/966#issuecomment-618846057 , `nouuid` or `regenerating UUID` (- depends on xfsprogs version..etc)  could be the possible fixes.

[2021-06-01 08:34] jsafrane commented on #482
I'm experimenting with a Kubernetes e2e test and AWS EBS CSI driver fix in https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/913

[2021-06-03 12:14] jsafrane commented on #482
Turned into real e2e test to Kubernetes: https://github.com/kubernetes/kubernetes/pull/102538

[2021-06-07 19:24] #449 closed

[2021-06-09 00:52] aarondav commented on #166
Any progress on this issue? Would love CSI support for hypervisor runtimes like kata.

[2021-06-22 01:50] lambdaS-zh opened #484 "Why don't some CSI requests have [parameters] or [secrets]?"
Referring to [secrets requirements](https://github.com/container-storage-interface/spec/blob/master/spec.md#secrets-requirements), secrets MAY be required by plugin to complete a RPC request. My understanding is that all volume operations in one SP context(e.g. StorageClass in k8s) share the same `parameters` or `secrets`, while all snapshot operations share another pack of `parameters` or `secret

[2021-06-22 03:43] jdef commented on #484
Do you have a use case that is blocked by the current API?

On Mon, Jun 21, 2021, 9:51 PM thonic ***@***.***> wrote:

[2021-06-22 05:32] lambdaS-zh commented on #484
@jdef not yet. But someone else may meet problems. For example, storage vendors may expect their plugin serves in front of multiple storage backends which have different credentials(#461). This may require all volume operations contain those informations.
I'm confused `CreateVolumeRequest` has those fields while `ListVolumesRequest` does not.
Personally, I just think it's better to keep the same s

[2021-06-22 05:48] lambdaS-zh commented on #484
@jdef On the other hand, also I'm not sure whether this use case should be supported. Maybe this should be solved by storage backends themselves.

[2021-06-22 09:10] jdef commented on #484
For the 3 API calls you mention explicitly, I believe it was intentional to
exclude per volume parameters and/or secrets.

Credentials/parameters needed to access a SP backend API, that are not
volume specific, should be provided at plug-in deploy-time by the operator
and/or process that runs the plug-in itself.

If there is no blocked use case, please close this ticket.

On Tue, Jun 22, 2021, 1:4

[2021-06-22 09:31] lambdaS-zh commented on #484
@jdef By the same logic, is the `secrets` of `ListSnapshotsRequest` snapshot specific?

[2021-06-22 09:31] #484 closed

[2021-06-22 09:31] lambdaS-zh commented on #484
@jdef By the same logic, is the `secrets` of `ListSnapshotsRequest` snapshot specific?

[2021-07-11 10:33] ArbelNathan opened #485 "createvolume with no space on storage"
In case of creating a volume on storage and some kind of `no space` error returns, what is the appropriate grpc code that shode be returned?

there is `RESOURCE_EXHAUSTED` in the method error list but it indicates that it's `Unable to provision in accessible_topology`, what if we are not supporting topology?

[2021-07-16 20:29] vitalif commented on #408
Same problem with VolumeContext missing in DeleteVolume, this is really inconvenient and a lot of drivers end up with encoding all the information into volume name... which is of course ugly as hell

[2021-07-21 17:00] bswartz opened #486 "published_node_ids has different requirements in ListVolumes vs ControlerGetVolume"
In ListVolumesResponse the docs read:

    // A list of all `node_id` of nodes that the volume in this entry
    // is controller published on.
    // This field is OPTIONAL. If it is not specified and the SP has
    // the LIST_VOLUMES_PUBLISHED_NODES controller capability, the CO
    // MAY assume the volume is not controller published to any nodes.
    // If the field is not specified and the S

[2021-08-30 13:01] humblec opened #488 "Is `Zero` ( size) allowed on CapacityRange field of createVolume?"
The createVolume capacityRange does not mention whether the `createVolume->CapacityRange` can be `0` or less . Is `zero` size/capacity expected/allowed by the spec?

[code]

[2021-08-30 13:02] humblec commented on #488
Cc @jdef @msau42

[2021-08-31 15:44] humblec commented on #488
it looks like its completely left to the CO and from spec side its flexible  .. closing this issue.

[2021-08-31 15:44] #488 closed

[2021-08-31 16:24] jdef commented on #488
Flexible sounds like.. room for error. I'll try to look into this soon

On Tue, Aug 31, 2021, 11:45 AM Humble Devassy Chirammal <
***@***.***> wrote:

[2021-08-31 16:32] humblec commented on #488
Thanks @jdef , will I keep this issue with `open` state   then?

[2021-09-15 16:15] saad-ali opened #489 "Clarify LIST_VOLUMES_PUBLISHED_NODES requires PUBLISH_UNPUBLISH_VOLUME"
From @jdef's comment in https://github.com/container-storage-interface/spec/pull/487#issuecomment-885647914:

CC @bswartz

[2021-09-15 16:17] #486 closed

[2021-09-19 08:14] andreas-kupries opened #490 "SVG pictures to replace ASCII diagrams"
Hello.

The attached [svg.zip](https://github.com/container-storage-interface/spec/files/7191222/svg.zip) contains SVG images for all the ASCII diagrams found in the [spec](https://github.com/container-storage-interface/spec/blob/master/spec.md). Assuming acceptance this should make the document much nicer to view.

The [sources](https://github.com/melak/pikchr) of these diagrams are at the refere

[2021-09-23 18:01] #478 closed

[2021-10-06 22:49] vdhanan opened #491 "Proposal: Add a ModifyVolume RPC to the Controller Service"
AWS customers would like to modify their volumes (e.g. increase IOPS, change volume type, etc.), but there is currently no way to do this through the CSI Spec. The current workaround some customers use is to modify their storage through the [AWS CLI](https://docs.aws.amazon.com/cli/latest/reference/ec2/modify-volume.html), but that solution does not work for everyone. Can we introduce a generic Mo

[2021-10-08 03:03] mowangdk opened #492 "Proposal: add VolumeSnapshot name & namespace in DeleteSnapshot & ListSnapshot interface."
we want to use these infos in ListSnapshots & DeleteSnapshot methods for check custom labels in VolumeSnapshots. Is it possible to pass this information like the CreateSnapshot interface?

[2021-10-08 03:22] jdef commented on #492
This sounds like a question for k8s sig storage. (name,ns) identifiers are
a k8s api thing. This is not a k8s project.

On Thu, Oct 7, 2021, 11:03 PM geyingqi ***@***.***> wrote:

[2021-10-08 13:36] gman0 opened #493 "CreateVolume with snapshot volume source races with DeleteSnapshot"
`DeleteSnapshot` may be called while that snapshot is in use as a volume source in a concurrent `CreateVolume` call, creating a race condition.

COs should be instructed how to deal with various situations when these two calls interact. Specifically, CO must block all `CreateVolume` calls with a snapshot volume source while that snapshot is being deleted, and vice versa - it must block all `Delete

[2021-10-29 08:31] cn-zhouhj opened #494 "how does ValidateVolumeCapabilities work"
everything of our project work fine but ValidateVolumeCapabilities, we can create a volume and expend 、clone、snapshot. publish the volume to a pod, and the pod is working correctly. but we can‘t find any evidence shows that **ValidateVolumeCapabilities** has been called.
so can anyone tell us that how to call ValidateVolumeCapabilities. dose it need to deply a sidercar or others.

[2021-11-01 02:05] jdef commented on #494
This sounds like a question for k8s SIG Storage.

On Fri, Oct 29, 2021, 4:31 AM cn-zhouhj ***@***.***> wrote:

[2021-11-03 10:17] #494 closed

[2021-11-03 14:25] nb950 opened #495 "ControllerGetVolume Volume does not exist is not an error instead its an abnormal true condition"
"ControllerGetVolumeResponse should contain current information of a volume if it exists. If the volume does not exist any more, ControllerGetVolume should return gRPC error code NOT_FOUND"

refer discussion : [(https://kubernetes.slack.com/archives/C8EJ01Z46/p1635513340016300)]

Volume does not exist --should not be returned as an error in the response ,instead it should be returned  as a volume_

[2021-11-05 20:36] sumukhs opened #496 "Proposal: Provide publish context during ControllerUnpublishVolume"
### Problem Overview:
ControllerPublishVolume has a contract to return FAILED_PRECONDITION with the status indicating the node id that the volume is currently published on.
This helps detecting stale ControllerPublishVolume API calls by the CO to the SP controller and take appropriate action.

However, during the controller unpublish, consider the following ordering of events:

1. CO issues a Cont

[2021-11-05 22:34] jdef commented on #496
The controller-unpublish call does not relay state on purpose. Consider
that the CO is braindead and loses context. It should still be possible to
unpublish.

I'm sympathetic to the partitioning problem, and think that the CO should
do more to help plugins deal with such.

-1 on this proposal.

On Fri, Nov 5, 2021, 4:36 PM Sumukh Shivaprakash ***@***.***>
wrote:

[2021-11-05 22:40] sumukhs commented on #496
Isn't the co storing/plumbing around the volume id and volume context already?

I didn't get how that is different from the publish context.

If the co is brain dead and loses all its context, how would it be able to controller unpublish anyway?

[2021-11-05 22:51] jdef commented on #496
The only required field for controller-unpublish is volume_id.

On Fri, Nov 5, 2021, 6:40 PM Sumukh Shivaprakash ***@***.***>
wrote:

[2021-11-05 22:54] sumukhs commented on #496
Isn't the assumption that the volume_id is also lost though?

CO would still have to go through the flow of all the idempotent calls like CreateVolume (which gives back the volume_id), then ControllerPublishVolume(which being idempotent can give back the publish context again) and finally invoke the ControllerUnpublishVolume(publish_context)?

[2021-11-05 23:02] sumukhs commented on #496
Unless you are referring to manual intervention by a human who is trying to patch this up and wants to unpublish the volume - I see your point then.

[2021-11-05 23:02] jdef commented on #495
My interpretation of the slack thread is that maybe some k8s logic change
is required. I don't agree with the proposal to change the spec here.

Whether or not volume conditions are supported, a missing volume must be
reported as NOT_FOUND.

-1 on this proposal

On Wed, Nov 3, 2021, 10:25 AM jai kumar ***@***.***> wrote:

[2021-11-05 23:04] jdef commented on #496
Correct. A human should be able to provide volume ID.

On Fri, Nov 5, 2021, 7:02 PM Sumukh Shivaprakash ***@***.***>
wrote:

[2021-11-05 23:31] sumukhs commented on #496
That makes sense. Any suggestions on how this can be tackled or pointers to other approaches are appreciated!

Going back to your original response, what did you imply by "CO must do more". A CO doing anything more wouldn't be csi conformant and hence lose the flexibility of plugging in different SP's right?

[2021-11-05 23:55] jdef commented on #496
CO must do more:

There's another csi proposal that deals with partitioning and attempts to
implement a fencing strategy within csi - I commented there as well. The CO
bears more responsibility (for complexity) in such cases so that plug-in
implementations (and the csi spec) remain simpler.

It sounds like you're trying to address an important problem with a minimal
spec change, and in general I'm

[2021-11-06 03:37] sumukhs commented on #496
Yes, for the apis in csi that I cared about (create,controller publish/unpublish, node stage/unstage, node publish/unpublish, delete), it seems like we can deal with a network partition for all the cases except the controller unpublish and hence the question here.

I can take a look at the other proposal to see how the co could do more to handle this situation.

[2021-11-06 12:55] nb950 commented on #495
jdef , please reconsider. This method is called by kubelet and external-health-monitor side-car , the response  is checked to send events to PVC / POD if abnormal=true is set. If instead NOT_FOUND error is sent there is no event for it and k8s-admin is not alerted to this condition.  refer
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_client.go  https://github.com/kuberne

[2021-11-06 13:27] jdef commented on #495
My interpretation of the slack thread is that k8s makes certain decisions
based on results of list-volumes in conjuction with results from subsequent
get-volume calls. What prevents that logic from being updated to address
the business case presented in slack?

Maybe restate the business case here for clarity, to avoid
misinterpretation?

On Sat, Nov 6, 2021, 8:55 AM jai kumar ***@***.***> wrote:

[2021-11-06 14:14] nb950 commented on #495
the usecase is to report an abnormal event on a PVC like volume not found . in all the other csi calls reporting an error if volume is not found is expected and it the norm. in these two calls reporting health of the volume in response versus reporting error is desired.
if volume on the array is no longer usable these two method will return abnormal=true . if method is unable to determine status o

[2021-11-09 05:27] sumukhs commented on #496
@jdef - gentle ping!

[2021-11-09 05:58] sumukhs opened #497 "Workflow for moving a writer workload into a node with an existing reader workload"
In the following scenario, could you please clarify the right behavior w.r.t ControllerPublishVolume call semantics:

Setup:
0. Volume v1 is created with multi node reader/writer capability.
1. ControllerPublishVolume for node N1, volume v1 is invoked with capability as Read only = true. CO invokes NodeStageVolume on N1, followed by NodePublishVolume.
2. ControllerPublishVolume for node N2, volume

[2021-11-09 12:58] jdef commented on #496
Not sure why I'm pinged here. Afaict this issue / ticket has been settled.

On Tue, Nov 9, 2021, 12:27 AM Sumukh Shivaprakash ***@***.***>
wrote:

[2021-11-09 13:03] sumukhs commented on #496
Wondering what your take on this approach is:

[2021-11-09 14:43] jdef commented on #496
I think I misread the original proposal, mistakenly confusing volume-context for publish-context. That said...

"etag" sounds like additional state that:
(a) CO would need to track/remember as a result of controller-publish-volume, so that...
(b) CO would present to the controller-unpublish-volume call

"etag" seems like "special publish volume context". Let's avoid special case things like this.

[2021-11-09 15:44] sumukhs commented on #496
Yes, given its optional behavior it would be a non-breaking change for existing plugin's/CO's. Is the expectation for the feature proposer to send out a PR/do one of the maintainers would take care of incorporating this in the next release?

We did not hit this in a live cluster but we have a mock CO and CSI simulator that exercised this code path and ran into a coding assert.

[2021-11-09 15:47] sumukhs commented on #497
I read this in the kubernetes [docs](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes)
`Important! A volume can only be mounted using one access mode at a time, even if it supports many. For example, a GCEPersistentDisk can be mounted as ReadWriteOnce by a single node or ReadOnlyMany by many nodes, but not at the same time.`

In my scenario above, a volume's node capabi

[2021-11-09 20:58] jdef commented on #496
Kindly submit a PR. If this is your first, you probably need to sign the
CLA, otherwise PR cannot be accepted.

On Tue, Nov 9, 2021, 10:44 AM Sumukh Shivaprakash ***@***.***>
wrote:

[2021-11-19 16:38] vdhanan commented on #491
I can speak on K8s, since that's the CO I'm most familiar with... I'm wondering if we could introduce a field in the StorageClass object (immutable) called `allowVolumeModification` and move the modifiable volume properties like IOPS, volume type, etc. into the PersistentVolumeClaim (mutable). I'm not sure if this is feasible, and there might be a better way, so I'm open to suggestions.

[2021-11-19 17:51] jdef commented on #491
Sounds like you need to get k8s folks on board before we tackle anything in
the spec. Maybe start with a KEP in sig-storage?

On Fri, Nov 19, 2021, 11:38 AM Varun Dhananjaya ***@***.***>
wrote:

[2021-11-19 20:48] gnufied commented on #491
Since these fields are not exposed as properties in PVC, I don't see how users can modify them. I am not even sure if k8s will want to add those properties to PVC, so I have to agree with @jdef you will need a KEP to tackle this in k8s before a proposal can be brought forward to CSI.

[2021-11-24 08:59] #492 closed

[2021-12-05 18:27] jdef commented on #497
You probably need to ask this question in some k8s SIG Storage forum, as it
seems pretty CO-specific (because you're asking about the k8s
implementation of CSI).

On Tue, Nov 9, 2021 at 10:47 AM Sumukh Shivaprakash <
***@***.***> wrote:

--
James DeFelice
585.241.9488 (voice)
650.649.6071 (fax)

[2021-12-21 13:04] dhilipkumars commented on #491
+1 we have similar requirement for azure ultradisk [here] (https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/1118)

[2021-12-21 13:10] jdef commented on #491
My answer is unchanged. K8s KEP is likely the way to start with this.

On Tue, Dec 21, 2021, 8:04 AM Dhilip ***@***.***> wrote:

[2022-01-14 14:48] ahaid opened #498 "Support for reverting a snapshot"
Here at NetApp we make heavy use of the CSI standards in order to implement the NetApp Trident CSI for our storage products. We are investigating how to support `snapshot revert` in order to provide near-instantaneous revert for applications that use volumes backed by NetApp storage. We would like to participate in getting those standards added to this spec.

What is the process for proposing new

[2022-01-14 21:28] jdef commented on #498
Is there a KEP that describes how k8s might consume this feature from CSI?
Or some other CO?

Adding CSI RPCs without a clear plan for CO consumption is something we try
to avoid.

On Fri, Jan 14, 2022, 9:48 AM Adam Haid ***@***.***> wrote:

[2022-01-14 22:51] ahaid commented on #498
I will reach out to sig storage and socialize this idea. Then I'll write up a KEP and see how far we get.

[2022-03-16 22:51] saad-ali opened #501 "Pre-submit testing and CI for CSI"
CSI was previously using travis-ci for PR pre-submit testing and CI for this project. However travis-ci.org has been turned down and https://travis-ci.org/github/container-storage-interface/spec shows:

[code]

We need a replacement pre-submit and CI solution. Opening this bug to track that work.

[2022-03-16 23:18] saad-ali commented on #501
@pohly would you be interested in helping with this?

CC @xing-yang

[2022-03-17 08:56] pohly commented on #501
Sorry, kind of busy right now...

[2022-03-17 09:06] humblec commented on #371
True, now the secrets are too much , we do have 5/6 secrets already in place including controller,node and provisioner.. I would like to explore if there is a thought which can be used to consolidate this. Would be difficult to have such mechanism considered we have to maintain backward compatiblity, however may be we can try to handle internally or atleast think about a new way to store additiona

[2022-03-18 06:11] saad-ali commented on #501
No worries, thanks for the reply @pohly

[2022-03-18 12:39] jdef commented on #501
FWIW it might be nice to leverage github actions/workflows for this

[2022-03-18 23:31] saad-ali commented on #501
CC @mattcary

[2022-03-22 09:04] andyzhangx commented on #501
fixed by https://github.com/container-storage-interface/spec/pull/502

[2022-03-22 16:34] mattcary commented on #501
Cool, thanks Andy!

[2022-03-30 12:34] andyzhangx commented on #501
/close

[2022-03-30 13:10] jdef commented on #501
The build badge in the README still links to travis. Before closing out this ticket, we should probably update the badge.

https://docs.github.com/en/actions/monitoring-and-troubleshooting-workflows/adding-a-workflow-status-badge

[2022-03-30 18:24] saad-ali commented on #501
Closed by #502 and #505
Thanks Andy!

[2022-03-30 18:24] #501 closed

[2022-04-18 06:31] andyzhangx opened #507 "[feature request] provide VolumeContext in DeleteVolume, ControllerExpandVolume request"
`VolumeContext` should also be in `DeleteVolumeRequest`, currently we have to encoding all info as a volumeID, now the volumeID is longer and longer, that's really ugly design.   if there is `VolumeContext` in `DeleteVolumeRequest`, we could inject `volume.Spec.ClaimRef.Namespace` in external-provisioner by providing flag `--extra-delete-metadata` , similar to `--extra-create-metadata`: https://gi

[2022-04-18 06:31] andyzhangx commented on #408
@vitalif agree on this, `VolumeContext` should also be in `DeleteVolumeRequest`, currently we have to encoding all info as a volumeID now the volumeID is longer and longer, that's really ugly design. added a new feature request here: https://github.com/container-storage-interface/spec/issues/507

[2022-04-18 06:37] andyzhangx commented on #395
@zhucan I also filed a similar feature request here: https://github.com/container-storage-interface/spec/issues/507, we need pvc namespace in `DeleteVolume`, if there is `VolumeContext` in `DeleteVolumeRequest`, we could inject `volume.Spec.ClaimRef.Namespace` in external-provisioner by providing flag `--extra-delete-metadata` , similar to `--extra-create-metadata`: https://github.com/kubernetes-c

[2022-04-19 03:07] jdef commented on #507
please no. we've discussed this all before, and it should be possible to delete a volume if CO loses its mind and vol metadata is lost. if vol ID is getting "longer and longer" then this suggests arch/design issues elsewhere (because non-identifying information is being stuffed into the ID field for convenience).

[2022-04-19 03:09] jdef commented on #408
https://github.com/container-storage-interface/spec/issues/507#issuecomment-1101947052

[2022-04-19 03:14] andyzhangx commented on #507
@jdef we need secretNamespace in `DeleteVolume`, so what's your suggestion in this case, append secretNamespace into volumeID?

[2022-04-19 03:25] jdef commented on #395
i'm trying to understand the use case being presented here. it sounds like there's a desire for a single k8s csi driver installation to integrate w/ multiple storage backends (of the same vendor), and at the same time the desire to avoid coding a URL into the volume ID because .. it feels messy.

IMO, if you're managing vols across multiple backends via single driver instance then you need the bac

[2022-04-19 03:28] jdef commented on #507
@andyzhangx maybe i misunderstand the use case. if you need secrets to delete a volume, doesn't DeleteVolumeRequest already offer that API? CSI doesn't know about k8s namespaces, nor should it. that said, if namespace is a reasonable (read: essential) coordinate for locating a volume in some storage backend, then it probably belongs in vol ID.

[2022-04-19 11:55] andyzhangx commented on #507
@jdef actually external-provisioner would inject pvcNamespace now on `CreateVolume` by using `--extra-create-metadata`: https://github.com/kubernetes-csi/external-provisioner#recommended-optional-arguments, I would like to get same functionality for `DeleteVolume`, current workaround is append pvcNamespace to volumeID, now our volumeID already has `resoucegroup#accountname#sharename#uuid`, this wo

[2022-04-19 13:34] andyzhangx commented on #395
@jdef point is in current CSI spec, there is already `VolumeContext` in `CreateVolume`, `NodePublishVolume`, why not provide same `VolumeContext` in  `DeleteVolume`, `NodeUnpublishVolume`, without `VolumeContext` in `DeleteVolume`, we have to encode every fields  `CreateVolumeRequest.VolumeContext` to volumeid.

[2022-04-19 20:31] bswartz commented on #395
The problem is that when the CO is calling `DeleteVolume` or `NodeUnpublishVolume`, it might not have the VolumeContext. It might only have the volume ID. There are scenarios where the CO has experienced a crash or some kind of data loss and it's just trying to clean up. Under these circumstances we require the SP to remember everything it needs to also be able to perform the node cleanup or the v

[2022-04-19 20:38] bswartz commented on #507
DeleteVolume is expected to succeed without a volume context because it might be called as part of an emergency cleanup operation, when the CO has lost other relevant information and has only the volume ID. The alternative is that DeleteVolume might not get called at all, and resources could leak, in a scenario where the CO has lost data. The spec writers decided it was preferable to put the respo

[2022-04-19 20:45] bswartz commented on #497
@sumukhs The limitation is worse than that for K8s. In K8s you can only have one access mode per PVC, if you use CSI. The existing sidecars prohibit mixing access modes.

You can use the RWX access mode, and make individual pods read only, and ControllerPublish will be called with readOnly=false and NodePublish will be called with readOnly=true. This gives you the desired behavior, I think.

[2022-04-26 01:48] andyzhangx commented on #507
@bswartz thanks for the clarification!

[2022-04-26 01:48] #507 closed

[2022-05-19 04:53] mikee commented on #491
Could I argue that some cases of this are to align with user expectations based on the way IOPS are specified
For example:
AWS based storage class specifies IOPS per GB, but the underlying API uses a raw IOPS figure.
However - when a PV is expanded to a larger size, the driver does not recalculate the IOPs - so the size is increased, but the IOPS stays the same as what was calculated in the origin

[2022-05-19 18:47] jdef commented on #491
I'm trying to understand this use case (and thanks for providing it), so
please bear with me...

(a) User creates PV => results in AWS vol created w/ "IOPS/GB" CSI vol
parameter
(b) User resizes PV => results in larger AWS vol, GB increases but IOPS do
not -- so former IOPS/GB CSI vol parameter becomes invalid (because it no
longer reflects reality)?

.. and it is being stated that this is a funda

[2022-05-19 21:39] mikee commented on #491
Thanks @jdef -I chimed in here after following a discussion on the AWS driver issue for this which pointed to the spec,  but re reading the docs I think this is an implementation bug rather than a spec bug.  Specifically because iopsPerGB is AWS EBS io1 only apparently.

Regardless, specific steps to illustrate this issue
1. Create a storage class with a set iopspergb
`
apiVersion: storage.k8s.io/

[2022-05-19 22:09] rdpsin commented on #491
Hi, @mikee, I agree that it's an implementation bug rather than a spec bug.

The issue is that during volume expand, the EBS CSI driver has no information about the volume or it's StorageClass parameters. There may workarounds for this. Specifically, for ioperPerGb, we can do things like store it in volume tags or compute them from current volume properties. A better way would be to allow `externa

[2022-05-19 23:53] mikee commented on #491
agreed sorry - will take the discussion there

[2022-06-13 06:09] mabinraja opened #510 "doctor and patient"
doctor,>AI,>server,>patient,>

[2022-06-13 06:10] mabinraja commented on #510
doctor and patient audio conference.

[2022-06-13 06:15] mabinraja opened #511 "me"
<+8801300437390><mabinraja@gmail.com><https://paypal.me/mabinraja?country.x=CY&locale.x=en_US>

[2022-06-13 06:16] mabinraja commented on #511
security

[2022-06-13 12:42] jdef commented on #510
spam

[2022-06-13 12:42] #510 closed

[2022-06-13 12:42] jdef commented on #511
spam

[2022-06-13 12:42] #511 closed

[2022-06-15 03:46] YuikoTakada opened #512 "Volume Lifecycle is not correspond to actual k8s behavior"
As `non-graceful node shutdown` feature has been implemented in k8s as alpha, CSI volume lifecycle is not correspond to actual k8s behavior.
see:
* https://kubernetes.io/blog/2022/05/20/kubernetes-1-24-non-graceful-node-shutdown-alpha/
* https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/2268-non-graceful-shutdown

By using non-graceful node shutdown, status can be moved from

[2022-06-15 04:10] jdef commented on #512
At first glance, this seems like a breaking change to the spec. As this
(CSI) is not a k8s project, it is not bound by the referenced KEP.

That said, others in the CSI community have thought long and hard about
similar problems. So perhaps there's a way to amend the spec in a way that
doesn't break existing drivers (or the integration w/ other platforms and
said drivers).

Community feedback here

[2022-06-15 13:46] pkalever opened #514 "Need secrets in ControllerGetVolumeRequest{}"
It would be nice to have secrets available in the ControllerGetVolumeRequest{}
In our use case, we need secrets to access the volume to check the current information of a volume if it exists.

[2022-06-15 13:47] Madhu-1 commented on #514
cc @xing-yang

[2022-06-16 00:28] YuikoTakada commented on #512
@jdef Thank you for your comments.

I understand what you say.

I want to find a good solution which doesn't break existing drivers.
Therefore, #477 also seems to try to solve this problem. WDYT?

[2022-06-16 09:18] humblec commented on #371
It looks like more CSI RPC calls require/wanting the secret field to be part of ( ex: #515
) RPC calls.  as mentioned in previous comment, It may be a good time to rethink about the possibility of accommodating such requests without making more fields to existing PV spec ...etc. , Inviting thoughts on this , so that we can draw the line for addressing such requirements in future and in a better wa

[2022-06-16 09:33] humblec commented on #371
This is another example https://github.com/container-storage-interface/spec/pull/462

[2022-06-16 13:50] bswartz commented on #371
Yes we should rethink secrets. The existing interface is too flexible and underspecified. The fact that secrets can vary per-namespace, per-volume, and per-RPC means that driver implementers have expansive flexibility, but it creates a burden that we have to store more secrets per volume as we add more RPCs, and it makes it unclear what to do for any RPC that involves more than 1 volume (like List

[2022-06-20 12:35] humblec commented on #371
Indeed!

Most of the time, or if we go with CSI Service model, RPCs having an option for `secret` looks to be a 'need', different storage systems may consume it differently though. However, fetching or having secret per RPC is also a burden if all these secrets find its space in the PV Spec. Considering CSI spec has been laid out in a such a way that, operations are targeted or meant for 3 main se

[2022-06-21 15:01] xing-yang commented on #512
Note that this "force detach" behavior is not introduced by Non-Graceful Node Shutdown feature. Kubernetes already supports this behavior without Non-Graceful Node Shutdown. See "Test 2" in the PR description section below. By forcefully deleting the Pods on the shutdown node manually, volumes will be force-detached after a 6 minute wait by the Attach Detach Controller.

https://github.com/kuberne

[2022-06-23 07:34] vincentgoat opened #516 "Dependency tree were found to be deprecated github.com/golang/protobuf"
Is there any plan to instead `github.com/golang/protobuf` with `google.golang.org/protobuf`.
FYI: https://pkg.go.dev/github.com/golang/protobuf/proto

[2022-06-23 12:12] jsafrane commented on #512
Yes, Kubernetes already breaks CSI spec and can call ControllerUnpublish without NodeUnpublish / NodeUnstage succeeding if Kubernetes thinks the node is broken - it can't really call NodUnstage/Unpublish in that case or get its result.

The last attempt to fix this is officially in CSI is in https://github.com/container-storage-interface/spec/pull/477.

[2022-09-09 03:15] HeGaoYuan opened #521 "It is hard to understand the difference between "publish to a node" and "publishing on the node"."
![截屏2022-09-09 上午11 12 52](https://user-images.githubusercontent.com/16939557/189264494-72937533-1ca1-4f18-8984-1a26c786cb74.png)

It is hard to understand the difference between "publish to a node" and "publishing on the node".

Could you please explain it? Or is it possible to have a better expression here?

[2022-09-12 13:40] tgross commented on #512
Implementor of [Nomad's CSI support](https://www.nomadproject.io/docs/concepts/plugins/csi) here! 👋 For what it's worth we originally implemented the spec as-written and it turned out to cause our users a lot of grief. As of Nomad 1.3.0 (shipped in May of this year), we're doing something similar to what k8s has done where we make a best effort attempt to `NodeUnpublish` / `NodeUnstage` before `Co

[2022-09-12 14:33] jdef commented on #512
Thanks @tgross.

Are there any concerns from plugin providers that may be relying on CSI-as-written vs. the best-effort described herein?

Also Mesos is another CO w/ CSI integration - anyone on that side of the house have input to add here?

[2022-09-14 13:06] tgross commented on #512
IIRC all the plugins I've tested that support `ControllerPublish` implement that step as "make the API call to the storage provider to attach the volume as a device on the target host" and then implement `NodeStage` as "call `mount(1)` to mount that device". So when unpublishing, if the unmount is missed, the API call will try to detach a mounted device.

I know that, for example, the AWS EBS prov

[2022-09-20 11:19] YuikoTakada commented on #512
@tgross Thank you for sharing information.
I've updated description to fit CO as a whole. This issue is not only of Kubernetes.

[2022-10-02 19:34] DerekTBrown commented on #491
We have a slightly different need/usecase for `ModifyVolume` than the ones described above:

- The service owner configured particular PIOPS/Throughput/Storage Class settings at some time in the past.
- The service resource needs have changed over time, and we need to change PIOPS/Throughput/Storage class to minimize cost.
- Because the `StorageClass` resource is immutable, we are unable to change